/* Asher Marchevsky 9/28/2020 */
body {
	color: #000000;
	background-color: #F8F8F8;
	font-family: Futura, Calibri, sans-serif;
} 
	#outerwrapper {  
		width:70%;
		margin: 3% auto 3% auto; 
	}
	
	#sendhelp {
		margin-top: 3%
		
	}
		.myname {
			font-family: 
				Futura, Calibri, sans-serif;
				font-size: 2em;
				margin-bottom: 0;
		}
		.myname+p {
			margin-top: 0;
			clear:both;
		}
		.pleasework {             
			margin-bottom: 3%;
			margin-right: 3%;
			float: left;
			border: .1em black solid;
		}

		ul {
			list-style-type: none;  
		} 
	
	#main {  
		background-color: #F8F8F8;
		padding: 1.5%; 
		border: 2px black solid;
		clear: both;
	}
		h2 {
			font-size: 1.25em;
				margin: 0 0 0 0;
		}
		h2+p {
			margin: 0 0 0 0;
		}
		
	#mainexp {  
		background-color: #F8F8F8;
		padding: 1%; 
		border: 2px black solid;
		clear: both;
		line-height: .40;
	}
	#mained {  
		background-color: #F8F8F8;
		padding: 1.5%; 
		border: 2px black solid;
		clear: both;
	}
	
